<h1><%= @park.park_name %></h1>
<p>Address: <%= @park.address %></p>
<p>Neighbourhood: <%= @park.neighbourhood %></p>
<p>Location Description: <%= @park.location_description %></p>
<p>Location: <%= @park.location %></p>
