<h1>Search Results for "<%= @query %>"</h1>

<% if @results.any? %>
  <% @results.each do |result| %>
    <% if result.is_a?(Address) %>
      <div class="row">
        <div class="mt-4 col">
          <h4><%= link_to result.full_address, address_path(result) %></h4>
          <p>Street Name: <%= result.street_name %></p>
          <p>Neighbourhood: <%= result.neighbourhood %></p>
        </div>
      </div>
    <% elsif result.is_a?(School) %>
      <div class="row">
        <div class="mt-4 col">
          <h4><%= link_to result.school, school_path(result) %></h4>
          <p>Street: <%= result.street_name %></p>
        </div>
      </div>
    <% elsif result.is_a?(Park) %>
      <div class="row">
        <div class="mt-4 col">
          <h4><%= link_to result.park_name, park_path(result) %></h4>
          <p>Neighbourhood: <%= result.neighbourhood %></p>
        </div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No results found for "<%= @query %>".</p>
<% end %>

<%= link_to 'Back to home', root_path %>
