<h1><%= @address.full_address %></h1>
<p>Neighbourhood: <%= @address.neighbourhood %></p>
<p>Street Name: <%= @address.street_name %></p>

# <h2>Parks</h2>
# <ul>
#   <% @parks.each do |park| %>
#     <li><%= link_to park.park_name, park_path(park) %></li>
#   <% end %>
# </ul>

# <h2>Schools</h2>
# <ul>
#   <% @schools.each do |school| %>
#     <li><%= link_to school.school, school_path(school) %></li>
#   <% end %>
# </ul>
