<h1>Schools#index</h1>
<p>Show Schools Information</p>

<h1><%= @school.school %></h1>
<p>Street Name: <%= @school.street_name %></p>
<p>Language: <%= @school.language %></p>
<p>Year Installed: <%= @school.year_installed %></p>
<p>Legislation Link: <%= @school.legislation_link %></p>
<p>Location: <%= @school.location %></p>
