<h1><%= @school.school %></h1>
<p>Street Name: <%= @school.street_name %></p>
<p>Language: <%= @school.language %></p>
<p>Year Installed: <%= @school.year_installed %></p>
<p>Legislation Link: <%= @school.legislation_link %></p>
<p>Location: <%= @school.location %></p>

# <h2>Addresses</h2>
# <ul>
#   <% @addresses.each do |address| %>
#     <li><%= link_to address.full_address, address_path(address) %></li>
#   <% end %>
# </ul>
